:root {
  --second-color: #eaeaea;
  --third-color: rgb(19, 19, 19);
}
.lightmode {
  --second-color: #101010;
  --third-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, "sans-serif";
  background-color: var(--third-color);
}

html {
  scroll-behavior: smooth;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 50px 20px;
  gap: 20px;
  color: var(--second-color);
}

.dark_lightmode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
}

.dark_lightmode > #icon {
  width: 50px;
  height: 50px;
}

header > section {
  margin-top: 20px;
}

header > img {
  border-radius: 50%;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav > ul > li {
  margin: 20px 5px;
  display: inline-block;
}

nav > ul > li:nth-child(1) > a {
  padding: 10px;
  background-color: rgb(57, 104, 171);
  border-radius: 10px;
  text-decoration: none;
  color: white;
}

nav > ul > li:nth-child(2) > a {
  padding: 10px;
  background-color: rgb(122, 94, 177);
  border-radius: 10px;
  text-decoration: none;
  color: white;
}

nav > ul > li:nth-child(3) > a {
  padding: 10px;
  background-color: rgb(175, 122, 48);
  border-radius: 10px;
  text-decoration: none;
  color: white;
}

.content-pertama {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin: 20px 20px;
}

.content-pertama > h2 {
  margin-left: 80px;
  padding: 10px;
  background-color: rgb(57, 104, 171);
  border-radius: 10px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.content-pertama > .subcontent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.content-pertama > .subcontent > .subcontent-pertama {
  flex-basis: 50%;
  border: 2px solid rgb(57, 104, 171);
  border-radius: 10px;
  margin-right: 20px;
  color: var(--second-color);
  padding: 50px;
}

.content-kedua {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin: 20px 20px;
}

.content-kedua > h2 {
  margin-left: 80px;
  padding: 10px;
  background-color: rgb(122, 94, 177);
  border-radius: 10px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.content-kedua > table {
  font-family: Poppins, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin-top: 20px;
  margin-left: 80px;
}

.content-kedua > table td,
.content-kedua > table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.content-kedua > table tr {
  background-color: #f2f2f2;
}

.content-kedua > table tr:hover {
  background-color: #ddd;
}

.content-kedua > table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: rgb(122, 94, 177);
  color: white;
}

.content-ketiga {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin: 20px 20px;
}

.content-ketiga > h2 {
  margin-left: 80px;
  padding: 10px;
  background-color: rgb(175, 122, 48);
  border-radius: 10px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.content-ketiga > form {
  background-color: rgb(175, 122, 48);
  margin-top: 20px;
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  padding: 50px;
  border-radius: 10px;
  color: white;
  gap: 16px;
}

.content-ketiga > form > button {
  border-radius: 10px;
  padding: 10px;
  border: 1px solid black;
  background-color: rgb(175, 122, 48);
  cursor: pointer;
  color: white;
  font-size: 12px;
  box-shadow: 2px 2px 2px 1px black;
}

footer {
  text-align: center;
  background-color: rgb(57, 104, 171);
  padding: 10px;
  margin-top: 30px;
  color: white;
}
